In [1]:
import psycopg2
import pandas as pd
import create_tables, sql_queries, etl, etl_dw

In [2]:
create_tables.create_databases()

CREATING OPERATIONAL:
Creating table  users
Error creando database operacional
CREATING DATAWAREHOUSE:
Creating table  users
Error creando datawarehouse relation "users" already exists

In [ ]:
etl.load_data()

In [ ]:
etl_dw.load_data()

In [ ]:
%load_ext sql 
%sql postgresql://user:passw@postgres

In [ ]:
%sql postgresql://user:passw@postgres

In [ ]:
%%sql

select * from product_list where txn_id = '79B621A9-3FAA-41E4-2845-3DE6532C743D'

In [ ]:
%%sql
--Selecciona el nombre del cliente que ha hecho determinada transacci√≥n.

SELECT u.name, u.surname
FROM 
    users u JOIN cards c ON u.id=c.user_id 
        JOIN transactions t ON t.card_id=c.id
WHERE t.id='79B621A9-3FAA-41E4-2845-3DE6532C743D';

In [ ]:
%%sql
--Selecciona los productos que ha comprado un cliente


SELECT p.product_name as "Products bought by Lane Paul"
FROM products p 
    JOIN product_list pl ON p.id=pl.product_id
    WHERE pl.txn_id LIKE ANY 
    (SELECT t.id 
     FROM
         transactions t JOIN cards c ON c.id = t.card_id
             JOIN users u ON c.user_id=u.id
     WHERE u.name = 'Lane' AND u.surname = 'Paul')

In [ ]:
%%sql

SELECT t.id, c.user_id, t.card_id, t.business_id, t.lat_long, t.pin, t.timestamp, t.amount, t.declined
FROM transactions t JOIN cards c ON t.card_id=c.id

In [ ]:
%%sql

SELECT txn_id, array_agg(product_id) FROM product_list GROUP BY txn_id

In [ ]:
%%sql 
DROP TABLE IF EXISTS transactions2;
CREATE TABLE transactions2 (
      id varchar(50),
      user_id int,
      card_id varchar(50),
      business_id varchar(50),
      lat_long varchar(255),
      pin varchar(50),
      timestamp timestamp,
      amount float,
      declined boolean,
      product_ids int[],
      PRIMARY KEY (id),
      CONSTRAINT fk_card FOREIGN KEY (card_id) REFERENCES cards (id),
      CONSTRAINT fk_user FOREIGN KEY (user_id) REFERENCES users (id),
      CONSTRAINT fk_business FOREIGN KEY (business_id) REFERENCES companies (company_id)
    ) ;

In [ ]:
%%sql 

SELECT pl.txn_id as id, 
    c.user_id,
    t.card_id,
    t.business_id,
    t.lat_long,
    t.pin,
    t.timestamp,
    t.amount,
    t.declined,
    array_agg(pl.product_id) as product_ids
FROM transactions t JOIN cards c ON t.card_id=c.id
JOIN product_list pl ON t.id=pl.txn_id
GROUP BY pl.txn_id,c.user_id,
    t.card_id,
    t.business_id,
    t.lat_long,
    t.pin,
    t.timestamp,
    t.amount,
    t.declined

In [ ]:
%%sql

SELECT pl.txn_id, array_agg(pl.product_id) FROM product_list pl 
GROUP BY pl.txn_id;

In [ ]:
%%sql

select * from transactions2

In [ ]:
cur, conn = create_tables.get_db(create_tables.OP_DB)
pd.read_sql("""SELECT pl.txn_id as id, 
    c.user_id,
    t.card_id,
    t.business_id,
    t.lat_long,
    t.pin,
    t.timestamp,
    t.amount,
    t.declined,
    array_agg(pl.product_id) as product_ids
FROM transactions t JOIN cards c ON t.card_id=c.id
JOIN product_list pl ON t.id=pl.txn_id
GROUP BY pl.txn_id,c.user_id,
    t.card_id,
    t.business_id,
    t.lat_long,
    t.pin,
    t.timestamp,
    t.amount,
    t.declined""", conn)

In [ ]:
%load_ext sql 
%sql postgresql://postgres:codeop@db/datawarehouse

In [ ]:
%%sql 

SELECT * FROM transactions t JOIN users u ON t.user_id=u.id 
WHERE u.name='Hayfa';

In [ ]:
sql_queries.build_insert("cards", pd.read_csv("./data/credit_cards.csv"))

In [ ]:
txn = pd.concat((pd.read_json("./data/transactions_1.json"),pd.read_json("./data/transactions_2.json")), axis=0)
filtered = txn.filter(['id', 'product_ids'], axis=1)
filtered['product_ids'] = filtered['product_ids'].str.split(', ') if type(filtered['product_ids']) != int else filtered['product_ids']
prod_list = filtered.explode('product_ids')
prod_list.rename(columns={'id':'txn_id', }, inplace=True)
prod_list